/* Dashboard.module.css */

/* Default styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
}

/* Two-column container for larger screens */
.twoColumnContainer {
    display: flex;
    flex-direction: row;
    /* Display columns side by side */
    align-items: stretch;
    /* Make both columns equal height */
    justify-content: space-between;
    /* Add space between columns */
    flex-wrap: wrap;
    /* Allow columns to wrap to the next line on small screens */
}

/* Left column (ProfileCarousel) */
.carouselColumn {
    flex: 1;
    /* Take up 50% of the width */
    max-width: 50%;
    /* Set maximum width to 50% */
}

/* Right column (Bio) */
.column {
    flex: 1;
    /* Take up 50% of the width */
    max-width: 50%;
    /* Set maximum width to 50% */
    text-align: center;
}

.exploreButtonContainer {
    text-align: center;
}

/* Styling for the Explore Projects button */
.exploreButton {
    background: linear-gradient(to bottom, #007bff, #0056b3);
    /* Blue gradient */
    color: white;
    border: none;
    border-radius: 50%;
    /* Circular button */
    padding: 15px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 70px;
}

/* Add spacing between the icons */
.iconSpacer {
    margin-right: 20px;
    /* Adjust the spacing as needed */
}

/* Media query for responsiveness */
@media (max-width: 768px) {

    /* Stack columns on top of each other for smaller screens */
    .twoColumnContainer {
        flex-direction: column;
    }

    /* Full width for the Carousel column */
    .carouselColumn {
        max-width: 100%;
    }
}