/* Bio.module.css */
.textCenter {
  text-align: center;
}

.text {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  white-space: pre-line;
  /* Remove margin-top to fix the vertical positioning */
  /* margin-top: 3rem; Remove this line */
  max-width: 600px;
}

.fontLight {
  color: var(--text-color);
}

.fontDark {
  color: var(--text-color-dark);
}

.longBio {
  font-size: 0.8rem;
  max-height: 300px;
  overflow-y: auto;
  /* Add padding to the long bio for better readability */
  padding: 1rem; /* Adjust as needed */
}

.buttonGroup {
  display: flex;
  justify-content: center;
  /* Adjust margin-top to position the button group */
  margin-top: 1rem; /* Adjust this value as needed */
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 9999px;
  margin-right: 0.5rem;
  transition: background-color 0.3s;
  font-weight: bold;
}

.button.active {
  background-color: var(--button-active-bg-color);
}
