/* Default styles for larger screens (e.g., desktop) */
.container {
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  align-items: center;
  justify-content: center;
  height: 70%;
  margin-bottom: 20px;
}

.text {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  white-space: pre-line;
  max-width: 500px;
  margin-top: 1rem; /* Add margin-top for separation */
}

.fontLight {
  color: var(--text-color);
}

.fontDark {
  color: var(--text-color-dark);
}

.longBio {
  font-size: 0.8rem;
  max-height: 45vh;
  overflow-y: auto;
margin-bottom: 50px; 
}


.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  background: linear-gradient(to bottom, #D8BFD8, #A37Ea4); 
  color: var(--button-text-color);
  padding: 0.3rem 0.8rem; /* Reduce the padding to make it smaller */
  border: none;
  border-radius: 9999px;
  margin-right: 0.5rem;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 0.8rem; /* Reduce the font size to make it smaller */
}


.button.active {
  background-color: var(--button-active-bg-color);
}
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .bioContainer {
    flex-direction: column; /* Change flex-direction to column for smaller screens */
    align-items: flex-start; /* Align content to the start of the container */
  }

  .buttonGroup {
    margin-top: 1rem; /* Add margin for separation */
  }

}