.text {
    font-family: "Permanent Marker", cursive;
    font-size: 1.2rem;
    white-space: pre-line;
    text-align: center;
    margin: 1rem 0;
  }
  
  .fontLight {
    color: var(--text-color);
  }
  
  .fontDark {
    color: var(--text-color-dark);
  }
  
  .longBio {
    font-size: 0.9rem; /* Adjust the font size as desired */
  }
  