/* Navbar.module.css */

.navbar {
    background-color: #0b0b0c;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-button i {
    margin-right: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #D8BFD8;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1rem;
}

/* Mobile menu styles */
.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    /* Adjust the top value as needed */
    right: 0;
    background-color: #202123;
    width: 100%;
    padding: 10px;
    z-index: 1000; /* Adjust the z-index value as needed */
}


.mobile-menu.active {
    display: flex;
}