/* ProfileCarousel.module.css */


/* Base styles for larger screens */
.polaroid {
  position: relative;
  max-width: 300px;
  max-height: 500px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--card-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-top: 20px; /* Add padding to the top to create space */
}

.image {
  width: 100%;
  height: 200%;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--card-bg-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  color: var(--text-color);
  white-space: nowrap;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.role {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.markerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker {
  font-size: 1rem;
  font-weight: normal;
  margin-right: 0.5rem;
}

.location {
  font-size: 1rem;
  font-weight: normal;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .polaroid {
    max-width: 100%; /* Adjust maximum width for smaller screens */

  }
  .image {
    width: 100%; /* Make sure the image scales to fit the container */
    height: auto; /* Maintain aspect ratio */
  }

  .text {
    font-size: .8rem !important; /* Reduce font size for text and add !important */
  }

  .name {
    font-size: 1.2rem !important; /* Reduce font size for name and add !important */
  }

  .role {
    font-size: 0.9rem !important; /* Reduce font size for role and add !important */
  }

  .marker {
    font-size: 0.9rem !important; /* Reduce font size for marker and add !important */
  }

  .location {
    font-size: 0.9rem !important; /* Reduce font size for location and add !important */
  }

  .textContainer {
    padding: 0.2rem !important; /* Reduce padding for text container and add !important */
  }
}

/* Media query for adjusting width on smaller desktop screens */
@media (max-width: 1024px) {
  .polaroid {
    width: 100%; /* Adjust the width for screens up to 1024px width */
  }
}
