.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

.polaroid {
  position: relative;
  width: 250px; /* Adjust the width to make the carousel smaller */
  height: 350px; /* Adjust the height to maintain the aspect ratio */
  padding: 1rem;
  background-color: var(--card-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--card-bg-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  color: var(--text-color);
  white-space: nowrap;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.role {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.markerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker {
  font-size: 1rem;
  font-weight: normal;
  margin-right: 0.5rem;
}

.location {
  font-size: 1rem;
  font-weight: normal;
}
