/* ToggleButton.module.css */

.toggleButton {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  background-color: transparent;
  border: none;
}

.darkModeButton {
  color: var(--text-color-dark); /* Use the dark mode text color */
}

.lightModeButton {
  color: var(--text-color-light); /* Use the light mode text color */
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 17px;
  background-color: var(--bg-color); /* Use the default background color */
  transition: background-color 0.3s;
}

.slider.dark {
  background-color: var(--card-bg-color-dark); /* Use the dark mode card background color */
}

.slider.light {
  background-color: var(--card-bg-color-light); /* Use the light mode card background color */
}

.icon {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.3s;
}
